<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="valid">
    <div>
      <span>身分證</span>
      <input type="text" v-model="memberid" />
    </div>
    <div>
      <span>手機號碼</span>
      <input type="text" v-model="phone" />
    </div>
    <div>
      <span>電子信箱</span>
      <input type="email" v-model="email" />
    </div>
    <div>
      <span>保單序號</span>
      <input type="text" v-model="insurance" />
    </div>
    <div>
      <span>保單驗證碼</span>
      <input type="text" v-model="checkid" />
    </div>
    <p>{{test}}</p>
    <p>身分證是否合格:{{memberId}}</p>
    <p>手機號碼是否合格:{{phoneNumber}}</p>
    <p>信箱碼是否合格:{{emailCheck}}</p>
    <p>保單序號是否合格:{{insuranceId}}</p>
    <p>保單驗證碼是否合格:{{insuranceCheckId}}</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="./valid.js"></script>
</body>

</html>
<style>
  div {
    margin-top: 20px;
  }
</style>